@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
    height: 100vh;
}

*{
    /* background-color: #2f79c9; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: Bahnschrift, Montserrat, sans-serif;
}

body{
    background-color: #2f79c9;
}

.container{
    background: linear-gradient(#58a1d9, #5073d9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0 ;
    overflow: hidden;
}

li, a, button{
    font-weight: 500;
    font-size: 18px;
    color: #f2e2aa;
    text-decoration: none;
}

nav a{
    transition-duration: 0.5s;
}

nav a:hover{
    color: #fff;
    transition: 0.5s ease-in-out;
    text-shadow: 5px black;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    font-size: 23px;
}

.website-logo{
    background-image: url('../Images/Logo-white-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 75px;
    cursor: pointer;
    transition-duration: 0.5s;
}

header{
    background-color: rgba(0, 0, 0, 0.75);
    /* background: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    padding-left: 14%;
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0 20px;
}

/*------------intro div------------*/

.intro{
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    margin: 0;
    margin-bottom: 1%;
    box-shadow: 0 0 100px 0 #242424;
}

/*----Text Part----*/

.col-1{
    flex-basis: 50%;
    position: relative;
    margin-left: 15%;
}

.col-1 h1{
    font-family: Forte;
    font-size: 400%;
}

.col-1 h3{
    font-size: 130%;
    font-weight: 400;
}

.col-1 h4{
    font-weight: 100;
}

.col-1::before{
    content: ' ';
    width: 8px;
    height: 107%;
    background: linear-gradient(#58a1d9, #5073d9);
    position: absolute;
    left: -3%;
    top: -2%;
}

/*-----Image-----*/

.col-2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.col-2 .pic{
    width: 50%;
    margin-bottom: 15%;
    border-radius: 20%;
}

/*------------About Section-----------*/

.about{
    margin: 10% 5% 10% 6%;
    padding: 0;
    align-items: center;
    color: #ececec;
    display: flex;
}

.book-logo{
    margin-left: 3%;
    background-image: url(../Images/book-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 320px;
}

.about p{
    word-wrap: break-word;
    padding: 10px 10px 5px 60px;
    text-align: left;
    line-height: 1.5em;
    font-size: 18px;
}

/*--------------Skills Section-----------*/

.skills{
    background-color: #ececec;
    justify-content: space-between;
    align-items: center;
    padding: 7% 0;
    margin: 0;
    box-shadow: 0 0 300px 0 #242424;
}

.skills h1{
    margin: 0 0 5% 45%;
}

.skill-logos{
    display: flex;
    align-items: center;
    margin-left: 4%;
}

.skills .skill-logos img{
    margin: 0 7.5%;
    width: 130px;
    height: 130px;
}