@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
    height: 100vh;
}

*{
    /* background-color: #2f79c9; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: Bahnschrift, Montserrat, sans-serif;
    transition-duration: 0.4s;
}

body{
    background-color: #2f79c9;
}

.container{
    background: linear-gradient(#58a1d9, #5073d9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0 ;
    overflow: hidden;
}

/* .container-set{
    max-width: 2160px;
    padding: 0 16px 0 16px;
    margin: 0 auto;
}
 */
li, a, button{
    font-weight: 500;
    /* font-size: 18px; */
    color: #f2e2aa;
    text-decoration: none;
    list-style: none;
}

.section-title{
    text-align: center;
    margin: 0 0 5% 0;
    font-size: 34px;
}

.btn{
    width: 100%;
    text-align: center;
}

/*--------header----------*/

header{
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    padding-left: 14%;
    font-size: 18px;
}

header nav a{
    transition-duration: 0.5s;
}

header nav a:hover{
    color: #fff;
    transition: 0.5s ease-in-out;
    text-shadow: 5px black;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    font-size: 23px;
}

.website-logo{
    background-image: url('../Images/Logo-white-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 75px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.navLinks li{
    display: inline-block;
    padding: 0 20px;
}

/*------------intro div------------*/

.intro{
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
    margin-bottom: 1%;
    box-shadow: 0 0 100px 0 #373737;
    font-size: 18px;
}

.col-1{
    margin-top: -100px;
    flex-basis: 50%;
    position: relative;
    margin-left: 15%;
}

.col-1 h1{
    font-family: Forte;
    font-size: 400%;
}

.col-1 h3{
    font-size: 130%;
    font-weight: 400;
}

.col-1 h4{
    font-weight: 100;
}

.col-1::before{
    content: ' ';
    width: 8px;
    height: 165px;
    background: linear-gradient(#58a1d9, #5073d9);
    position: absolute;
    left: -20px;
    top: -5px;
}


.col-2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.col-2 .pic{
    margin-left: 80px;
    width: 50%;
    border-radius: 20%;
}

    /*------responsive features-----------*/

        @media(max-width: 1178px)
        {    
            .col-1::before{
                width: 6px;
                height: 120px;
                /* left: -20px;
                top: -5px; */
            }
            .col-1 h1{
                font-size: 50px;
            }
            
            .col-1 h3{
                font-size: 17px;
            }
            
            .col-1 h4{
                font-size: 15px;
            }
            
            .col-2 .pic{
                margin-left: 100px;
            }        
        }

        @media(max-width: 917px)
        {
            .col-1::before{
                width: 6px;
                height: 100px;
                top: 0;
            }

            .col-1 h3{
                font-size: 14px;
            }
            
            .col-1 h1{
                font-size: 40px;
            }
            
            .col-1 h4{
                font-size: 13px;
            }
            
            .col-2 .pic{
                margin-left: 100px;
            }        
        }
        @media(max-width: 415px)
        {
            .intro{
                padding-bottom: 50px;
                padding-top: 150px;
            }
            .col-1::before{
                width: 6px;
                height: 140px;
                top: 0;
            }

            .col-1 h3{
                font-size: 12px;
            }
            
            .col-1 h1{
                font-size: 35px;
            }
            
            .col-1 h4{
                font-size: 10px;
            }
            
            .col-2 .pic{
                width: 80%;
                margin-top: -50px;
                margin-left: 20px;
            }        
        }

/*------------About Section-----------*/

.about{
    margin: 10% 5% 10% 6%;
    padding: 0;
    align-items: center;
    color: #ececec;
    display: flex;
    font-size: 18px;
}

.book-logo{
    display: block;
    margin-left: 3%;
    background-image: url(../Images/book-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 320px;
}

.about p{
    justify-content: center;
    word-wrap: break-word;
    padding: 10px 10px 5px 60px;
    text-align: left;
    line-height: 1.5em;
    font-size: 18px;
}

    /*------responsive features-----------*/

        @media(max-width: 700px)
        {
            .about{
                margin-left: 0;
            }
            .book-logo{
                display: none;
            }
        }

/*--------------Skills Section-----------*/

.skills{
    background-color: #ececec;
    justify-content: space-between;
    align-items: center;
    padding: 6% 0;
    margin: 0;
    box-shadow: 0 0 100px 0 #373737;
    font-size: 18px;
}

.skill-logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 4%;
}

.skills .skill-logos img{
    justify-content: center;
    margin: 16px 7.5%;
    width: 130px;
    height: 130px;
}

    /*----responsive features-----*/

        @media(max-width: 1354px)
        {
            .skills .skill-logos img{
                margin: 16px 80px;
            }    
        }

        @media(max-width: 1209px)
        {
            .skills .skill-logos img{
                margin: 16px 60px;
                width: 80px;
                height: 80px;
            }    
        }

        @media(max-width: 905px)
        {
            .skills .skill-logos img{
                margin: 30px 80px;
                width: 90px;
                height: 90px;
            }    
        }

/*-----------Contact Section-----------*/
.contact{
    margin: 8% 0% 7% 0%;
    align-content: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
}

.message-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contact-form{
    margin: 0 10%;
    width: 39%;
}

.contact-form div{
    padding: 16px;
}

.contact-form div label{
    font-size: 17px;
    padding-bottom: 108px;
}

.contact-form div input , .contact-form div textarea{
    outline: none;
    margin-top: 6px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    background-color: #e6e6e6;
}

.contact-form div input:hover{
    box-shadow: 0 0 8px 0 #373737;
}

.contact-form div input:focus{
    box-shadow: 0 0 8px 0 #373737;
}

.contact-form .btn button{
    padding: 12px;
    width: 100px;
    color: #000;
    background-color: #e6e6e6;
    border: none;
    margin: 0;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.contact-form .btn button:hover{
    box-shadow: 0 0 8px 0 #373737;
    background-color: #ececec;
    color: #5073d9;
}

.contact-form .btn button:focus{
    box-shadow: 0 0 5px 0 #373737;
}

.message-box .message-image{
    background: url(../Images/Icons/message.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 490px;
    height: 400px;
}

    /*-----responsive features-----*/
        @media(max-width: 1194px)
        {
            .contact-form div label{
                font-size: 17px;
                padding-bottom: 108px;
            }
            
            .message-box .message-image{
                display: none;
            }
            .contact-form{
                width: 100%;
            }
        }
        @media(max-width: 600px)
        {
            .contact .section-title{
                font-size: 28px;
            }
        }
        @media(max-width: 395px)
        {
            .contact .section-title{
                font-size: 24px;
            }
        }

/*--------Footer--------*/

footer{
    width: 100%;
    border-radius: 70% 70% 0 0;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0 0 30px 0 #373737;
    justify-content: center;
    align-content: center;
}

footer .section-title{
    font-size: 20px; 
    margin-bottom: 20px;
    color: #ececec; 
    font-weight: 80;
}

.social-links{
    display: flex;
    justify-content: center;
    align-content: center;
    display: flex;
    margin: 0;
    margin-top: 40px;
}

.social-links li a{
    color: #ececec;
    padding: 0 50px;
    font-size: 35px;
}

@media(max-width: 800px)
{
    footer .section-title{
        margin-bottom: 15px;
        font-size: 18px; 
    }

    .social-links li a{
        padding: 0 45px;
        font-size: 30px;
    }
}

@media(max-width: 500px)
{
    footer .section-title{
        margin-bottom: 0px;
        font-size: 16px; 
    }

    .social-links li a{
        padding: 0 32px;
        font-size: 25px;
    }
}

@media(max-width: 390px)
{
    footer .section-title{
        font-size: 14px; 
    }

    .social-links li a{
        padding: 0 28px;
        font-size: 22px;
    }
}